body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table.camera-details-component {
    border: 1px solid black;
    margin: 10px;
    min-width: 350px;
}

    table.camera-details-component tr td:first-child {
        width: 130px;
    }

    table.camera-details-component tr td:nth-child(2) {
        width: 20px;
    }

    table.camera-details-component tr td:nth-child(3) {
        width: 90px;
    }

td .stock-info {
}

img.camera-thumbnail {
    max-width: 100px;
    margin: 10px;
}
